# Assignment 1: Data Parsing, Cleansing and Integration
## Task 3
#### Student Name: Ayush Kamleshbhai Patel
#### Student ID: s3891013

Date: XXXX

Version: 1.0

Environment: Python 3 and Jupyter notebook

Libraries used: please include the main libraries you used in your assignment, e.g.,:
* pandas
* re
* numpy


## Introduction
Give general information of this assessment here, e.g., what problems you encounter in integration, general steps and solutions you've taken to integrate the data. 

<span style="color: red"> Note that this is a sample notebook only. You will need to fill in the proper markdown and code blocks. You might also want to make necessary changes to the structure to meet your own needs. Note also that any generic comments written in this notebook are to be removed and replace with your own words.</span>

##  Import libraries

In [1]:
# Code to import libraries as you need in this assessment
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

### 1. Examining and loading data
Examine "\<student\_id\>_dataset2.csv" the structure and schema.

In [2]:
# Code to inspect the provided data file
# Couple of notes for all code block in this notebook
## please provide proper comment on your code
## Please re-start and run all cells to make sure codes are runable and include your output in the submission
# -------------------------------------------------------------------------------------------------------------
df = pd.read_csv('s3891013_dataset2.csv')
# # Provide a summary of the data
# print("\nSummary of Data:\n", df.describe(include='all'))

# Check for missing values in the dataset
print("\nMissing Values in Each Column:\n", df.isnull().sum())

# # Display the structure (info) of the data frame
# print("\nInfo of the Data Frame:")
df['Type'].value_counts()

Missing Values in Each Column:
 Monthly Payment                  0
Closing                          0
Organisation                   486
Location                         0
Category                         0
Full-Time Equivalent (FTE)       0
Opening                          0
Job Title                        0
Type                          1420
dtype: int64

Type
Permanent              3040
Fixed Term Contract     540
Name: count, dtype: int64

In [3]:
df

,Monthly Payment,Closing,Organisation,Location,Category,Full-Time Equivalent (FTE),Opening,Job Title,Type
0,1200.00,2012-12-27 12:00:00,Protocol Education,UK,Education,0.8,2012-11-27 12:00:00,Higher Level Teaching Assistant (HLTA),NaN
1,3125.00,2013-08-25 15:00:00,Cordius Ltd,UK,Information Technology,1.0,2013-06-26 15:00:00,Software Developers / Software Architects Not...,Permanent
2,4333.33,2013-01-16 15:00:00,Understanding Recruitment,Walton-On-Thames,Information Technology,1.0,2012-10-18 15:00:00,Senior BI Consultant (Cognos),Permanent
3,3750.00,2013-02-13 15:00:00,Wallace Hind Selection,UK,Sales,1.0,2012-12-15 15:00:00,"Technical Sales Manager, Pigments Fillers to S...",NaN
4,2916.67,2013-01-12 12:00:00,Greenhill Group Ltd,Eastern England,Sales,1.0,2012-12-29 12:00:00,Channel Account Manager Software,NaN
...,...,...,...,...,...,...,...,...,...
4995,5833.33,2013-03-31 00:00:00,Jonathan Lee Recruitment Ltd,London,Finance,1.0,2013-01-30 00:00:00,Head of Regulatory Policy,Permanent
4996,5000.00,2012-08-27 12:00:00,Impact 360,Berkshire,Information Technology,1.0,2012-06-28 12:00:00,Android Developer eMarkets and eCommerce Ber...,Permanent
4997,2833.33,2013-07-23 00:00:00,Aspire Data Recruitment,London,Finance,1.0,2013-04-24 00:00:00,SAS Senior Collections Recoveries Analyst,Permanent
4998,4791.67,2012-12-18 15:00:00,Annapurna HR Ltd,London,Information Technology,1.0,2012-11-18 15:00:00,Lead PHP Magento Developer London ****k,Permanent
4999,3541.67,2013-10-20 12:00:00,Parallel Consulting Limited,Surrey,Information Technology,1.0,2013-08-21 12:00:00,"Linux (CentOS), Puppet, SVN, LAMP , Systems Ad...",Permanent

### 2. Resolving schema conflicts
Give some general information about the conflicts you found in two schemas and steps you taken to resolve them.

<span style="color: red"> You might have complex notebook structure in this section, please feel free to create your own notebook structure. </span>

#### Conflict 1: Naming conflict
No Id column in dataset2, so needed to add it by generating random Id(integer type) for each entry
Rename the 'closing' column to 'CloseDate', 'Opening' to 'OpenDate', 'Job Title' to 'Title', 'Organisation' to 'Company' and 'Type' to 'ContractType'

In [4]:
# 2. Add an Id column with unique integer values
num_rows = df.shape[0]  # Note: Use shape[0] for the number of rows, not shape[1]
random_ids = [random.randint(10000000, 99999999) for _ in range(num_rows)]
df['Id'] = random_ids  # Add the 'Id' column to the original DataFrame

# 3. Rename columns
rename_columns = {
    'Closing': 'CloseDate',
    'Opening': 'OpenDate',
    'Job Title': 'Title',
    'Organisation': 'Company',
    'Type': 'ContractTime'
}
df.rename(columns=rename_columns, inplace=True)

# 4. Convert the date columns to the desired format
df['OpenDate'] = pd.to_datetime(df['OpenDate'], errors='coerce').dt.strftime('%Y-%m-%d %H:%M:%S')
df['CloseDate'] = pd.to_datetime(df['CloseDate'], errors='coerce').dt.strftime('%Y-%m-%d %H:%M:%S')

# Changing the data format to datetime
df['OpenDate'] = pd.to_datetime(df['OpenDate'])
df['CloseDate'] = pd.to_datetime(df['CloseDate'])
df

,Monthly Payment,CloseDate,Company,Location,Category,Full-Time Equivalent (FTE),OpenDate,Title,ContractTime,Id
0,1200.00,2012-12-27 12:00:00,Protocol Education,UK,Education,0.8,2012-11-27 12:00:00,Higher Level Teaching Assistant (HLTA),NaN,66418781
1,3125.00,2013-08-25 15:00:00,Cordius Ltd,UK,Information Technology,1.0,2013-06-26 15:00:00,Software Developers / Software Architects Not...,Permanent,45146318
2,4333.33,2013-01-16 15:00:00,Understanding Recruitment,Walton-On-Thames,Information Technology,1.0,2012-10-18 15:00:00,Senior BI Consultant (Cognos),Permanent,47760858
3,3750.00,2013-02-13 15:00:00,Wallace Hind Selection,UK,Sales,1.0,2012-12-15 15:00:00,"Technical Sales Manager, Pigments Fillers to S...",NaN,92195303
4,2916.67,2013-01-12 12:00:00,Greenhill Group Ltd,Eastern England,Sales,1.0,2012-12-29 12:00:00,Channel Account Manager Software,NaN,27311392
...,...,...,...,...,...,...,...,...,...,...
4995,5833.33,2013-03-31 00:00:00,Jonathan Lee Recruitment Ltd,London,Finance,1.0,2013-01-30 00:00:00,Head of Regulatory Policy,Permanent,97637986
4996,5000.00,2012-08-27 12:00:00,Impact 360,Berkshire,Information Technology,1.0,2012-06-28 12:00:00,Android Developer eMarkets and eCommerce Ber...,Permanent,14736764
4997,2833.33,2013-07-23 00:00:00,Aspire Data Recruitment,London,Finance,1.0,2013-04-24 00:00:00,SAS Senior Collections Recoveries Analyst,Permanent,98939018
4998,4791.67,2012-12-18 15:00:00,Annapurna HR Ltd,London,Information Technology,1.0,2012-11-18 15:00:00,Lead PHP Magento Developer London ****k,Permanent,32998321
4999,3541.67,2013-10-20 12:00:00,Parallel Consulting Limited,Surrey,Information Technology,1.0,2013-08-21 12:00:00,"Linux (CentOS), Puppet, SVN, LAMP , Systems Ad...",Permanent,39389555

To match the schema of dataset1, code below first calculates the full-time annual salary by multiplying the 'Monthly Payment' by 12 and stores it in a new column called 'Full-Time Annual Salary'. <br >
It then computes the actual annual salary, taking into account the 'Full-Time Equivalent (FTE)' value, and stores it in a column named 'Salary'. <br>
Finally, it drops the intermediate and now-redundant columns 'Monthly Payment', 'Full-Time Equivalent (FTE)', and 'Full-Time Annual Salary' from the DataFrame to leave only the final calculated 'Salary' and other original columns.

In [5]:
# 1. Calculate the Full-Time Annual Salary
df['Full-Time Annual Salary'] = df['Monthly Payment'] * 12

# 2. Calculate the Annual Salary based on the FTE value
df['Salary'] = df['Full-Time Annual Salary'] * df['Full-Time Equivalent (FTE)']

# 3. Drop the 'Monthly Payment', 'Full-Time Equivalent (FTE)', and 'Full-Time Annual Salary' columns
df.drop(columns=['Monthly Payment', 'Full-Time Equivalent (FTE)', 'Full-Time Annual Salary'], inplace=True)

# Display the first few rows of the modified dataset
df

,CloseDate,Company,Location,Category,OpenDate,Title,ContractTime,Id,Salary
0,2012-12-27 12:00:00,Protocol Education,UK,Education,2012-11-27 12:00:00,Higher Level Teaching Assistant (HLTA),NaN,66418781,11520.00
1,2013-08-25 15:00:00,Cordius Ltd,UK,Information Technology,2013-06-26 15:00:00,Software Developers / Software Architects Not...,Permanent,45146318,37500.00
2,2013-01-16 15:00:00,Understanding Recruitment,Walton-On-Thames,Information Technology,2012-10-18 15:00:00,Senior BI Consultant (Cognos),Permanent,47760858,51999.96
3,2013-02-13 15:00:00,Wallace Hind Selection,UK,Sales,2012-12-15 15:00:00,"Technical Sales Manager, Pigments Fillers to S...",NaN,92195303,45000.00
4,2013-01-12 12:00:00,Greenhill Group Ltd,Eastern England,Sales,2012-12-29 12:00:00,Channel Account Manager Software,NaN,27311392,35000.04
...,...,...,...,...,...,...,...,...,...
4995,2013-03-31 00:00:00,Jonathan Lee Recruitment Ltd,London,Finance,2013-01-30 00:00:00,Head of Regulatory Policy,Permanent,97637986,69999.96
4996,2012-08-27 12:00:00,Impact 360,Berkshire,Information Technology,2012-06-28 12:00:00,Android Developer eMarkets and eCommerce Ber...,Permanent,14736764,60000.00
4997,2013-07-23 00:00:00,Aspire Data Recruitment,London,Finance,2013-04-24 00:00:00,SAS Senior Collections Recoveries Analyst,Permanent,98939018,33999.96
4998,2012-12-18 15:00:00,Annapurna HR Ltd,London,Information Technology,2012-11-18 15:00:00,Lead PHP Magento Developer London ****k,Permanent,32998321,57500.04
4999,2013-10-20 12:00:00,Parallel Consulting Limited,Surrey,Information Technology,2013-08-21 12:00:00,"Linux (CentOS), Puppet, SVN, LAMP , Systems Ad...",Permanent,39389555,42500.04

To match the schema of datase1 and our requiremnets, code below first inspects the unique values and their frequencies in the 'ContractTime' column to identify inconsistencies. Then, it standardizes the values in a new 'ContractType' column by replacing 'Permanent' with 'permanent' and 'Fixed Term Contract' with 'contract', using the replace method. Any missing or NaN values are filled with 'non-specified' using fillna. This ensures that the 'ContractType' column has consistent and standardized values.

In [6]:
# Code to fix the conflict
df['ContractTime'].value_counts
pd.pandas.unique(df['ContractTime'])

# Convert values in the 'ContractType' column as specified
df['ContractType'] = df['ContractTime'].replace({
    'Permanent': 'permanent',
    'Fixed Term Contract': 'contract'
}).fillna('non-specified')

# Display the first few rows of the modified dataset
df

,CloseDate,Company,Location,Category,OpenDate,Title,ContractTime,Id,Salary,ContractType
0,2012-12-27 12:00:00,Protocol Education,UK,Education,2012-11-27 12:00:00,Higher Level Teaching Assistant (HLTA),NaN,66418781,11520.00,non-specified
1,2013-08-25 15:00:00,Cordius Ltd,UK,Information Technology,2013-06-26 15:00:00,Software Developers / Software Architects Not...,Permanent,45146318,37500.00,permanent
2,2013-01-16 15:00:00,Understanding Recruitment,Walton-On-Thames,Information Technology,2012-10-18 15:00:00,Senior BI Consultant (Cognos),Permanent,47760858,51999.96,permanent
3,2013-02-13 15:00:00,Wallace Hind Selection,UK,Sales,2012-12-15 15:00:00,"Technical Sales Manager, Pigments Fillers to S...",NaN,92195303,45000.00,non-specified
4,2013-01-12 12:00:00,Greenhill Group Ltd,Eastern England,Sales,2012-12-29 12:00:00,Channel Account Manager Software,NaN,27311392,35000.04,non-specified
...,...,...,...,...,...,...,...,...,...,...
4995,2013-03-31 00:00:00,Jonathan Lee Recruitment Ltd,London,Finance,2013-01-30 00:00:00,Head of Regulatory Policy,Permanent,97637986,69999.96,permanent
4996,2012-08-27 12:00:00,Impact 360,Berkshire,Information Technology,2012-06-28 12:00:00,Android Developer eMarkets and eCommerce Ber...,Permanent,14736764,60000.00,permanent
4997,2013-07-23 00:00:00,Aspire Data Recruitment,London,Finance,2013-04-24 00:00:00,SAS Senior Collections Recoveries Analyst,Permanent,98939018,33999.96,permanent
4998,2012-12-18 15:00:00,Annapurna HR Ltd,London,Information Technology,2012-11-18 15:00:00,Lead PHP Magento Developer London ****k,Permanent,32998321,57500.04,permanent
4999,2013-10-20 12:00:00,Parallel Consulting Limited,Surrey,Information Technology,2013-08-21 12:00:00,"Linux (CentOS), Puppet, SVN, LAMP , Systems Ad...",Permanent,39389555,42500.04,permanent

Adding the missing columns which are present in dataset1 but not in 2

In [7]:
df['ContractType'] = 'non-specified'
df['SourceName'] = 'non-specified'
df

,CloseDate,Company,Location,Category,OpenDate,Title,ContractTime,Id,Salary,ContractType,SourceName
0,2012-12-27 12:00:00,Protocol Education,UK,Education,2012-11-27 12:00:00,Higher Level Teaching Assistant (HLTA),NaN,66418781,11520.00,non-specified,non-specified
1,2013-08-25 15:00:00,Cordius Ltd,UK,Information Technology,2013-06-26 15:00:00,Software Developers / Software Architects Not...,Permanent,45146318,37500.00,non-specified,non-specified
2,2013-01-16 15:00:00,Understanding Recruitment,Walton-On-Thames,Information Technology,2012-10-18 15:00:00,Senior BI Consultant (Cognos),Permanent,47760858,51999.96,non-specified,non-specified
3,2013-02-13 15:00:00,Wallace Hind Selection,UK,Sales,2012-12-15 15:00:00,"Technical Sales Manager, Pigments Fillers to S...",NaN,92195303,45000.00,non-specified,non-specified
4,2013-01-12 12:00:00,Greenhill Group Ltd,Eastern England,Sales,2012-12-29 12:00:00,Channel Account Manager Software,NaN,27311392,35000.04,non-specified,non-specified
...,...,...,...,...,...,...,...,...,...,...,...
4995,2013-03-31 00:00:00,Jonathan Lee Recruitment Ltd,London,Finance,2013-01-30 00:00:00,Head of Regulatory Policy,Permanent,97637986,69999.96,non-specified,non-specified
4996,2012-08-27 12:00:00,Impact 360,Berkshire,Information Technology,2012-06-28 12:00:00,Android Developer eMarkets and eCommerce Ber...,Permanent,14736764,60000.00,non-specified,non-specified
4997,2013-07-23 00:00:00,Aspire Data Recruitment,London,Finance,2013-04-24 00:00:00,SAS Senior Collections Recoveries Analyst,Permanent,98939018,33999.96,non-specified,non-specified
4998,2012-12-18 15:00:00,Annapurna HR Ltd,London,Information Technology,2012-11-18 15:00:00,Lead PHP Magento Developer London ****k,Permanent,32998321,57500.04,non-specified,non-specified
4999,2013-10-20 12:00:00,Parallel Consulting Limited,Surrey,Information Technology,2013-08-21 12:00:00,"Linux (CentOS), Puppet, SVN, LAMP , Systems Ad...",Permanent,39389555,42500.04,non-specified,non-specified

Rearranging the columns to match the order of dataset1

In [8]:
desired_order = [
    'Id', 'Title', 'Location', 'Company', 'ContractType', 
    'ContractTime', 'Category', 'Salary', 'OpenDate', 
    'CloseDate', 'SourceName'
]
df = df[desired_order]
df

,Id,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,SourceName
0,66418781,Higher Level Teaching Assistant (HLTA),UK,Protocol Education,non-specified,NaN,Education,11520.00,2012-11-27 12:00:00,2012-12-27 12:00:00,non-specified
1,45146318,Software Developers / Software Architects Not...,UK,Cordius Ltd,non-specified,Permanent,Information Technology,37500.00,2013-06-26 15:00:00,2013-08-25 15:00:00,non-specified
2,47760858,Senior BI Consultant (Cognos),Walton-On-Thames,Understanding Recruitment,non-specified,Permanent,Information Technology,51999.96,2012-10-18 15:00:00,2013-01-16 15:00:00,non-specified
3,92195303,"Technical Sales Manager, Pigments Fillers to S...",UK,Wallace Hind Selection,non-specified,NaN,Sales,45000.00,2012-12-15 15:00:00,2013-02-13 15:00:00,non-specified
4,27311392,Channel Account Manager Software,Eastern England,Greenhill Group Ltd,non-specified,NaN,Sales,35000.04,2012-12-29 12:00:00,2013-01-12 12:00:00,non-specified
...,...,...,...,...,...,...,...,...,...,...,...
4995,97637986,Head of Regulatory Policy,London,Jonathan Lee Recruitment Ltd,non-specified,Permanent,Finance,69999.96,2013-01-30 00:00:00,2013-03-31 00:00:00,non-specified
4996,14736764,Android Developer eMarkets and eCommerce Ber...,Berkshire,Impact 360,non-specified,Permanent,Information Technology,60000.00,2012-06-28 12:00:00,2012-08-27 12:00:00,non-specified
4997,98939018,SAS Senior Collections Recoveries Analyst,London,Aspire Data Recruitment,non-specified,Permanent,Finance,33999.96,2013-04-24 00:00:00,2013-07-23 00:00:00,non-specified
4998,32998321,Lead PHP Magento Developer London ****k,London,Annapurna HR Ltd,non-specified,Permanent,Information Technology,57500.04,2012-11-18 15:00:00,2012-12-18 15:00:00,non-specified
4999,39389555,"Linux (CentOS), Puppet, SVN, LAMP , Systems Ad...",Surrey,Parallel Consulting Limited,non-specified,Permanent,Information Technology,42500.04,2013-08-21 12:00:00,2013-10-20 12:00:00,non-specified

#### Conflict 2: Data Integrity
Earlier, we fixed the over all schema and structure of data but we didn't do any manipulation with data.

##### Starting with treating null values. <br>
While we gave a first look at structure of data, we found that there were few null values. <br>
So, let's take another look at the missing values with refreshed schema and process it.

In [9]:
print("\nMissing Values in Each Column:\n", df.isnull().sum())

Missing Values in Each Column:
 Id                 0
Title              0
Location           0
Company          486
ContractType       0
ContractTime    1420
Category           0
Salary             0
OpenDate           0
CloseDate          0
SourceName         0
dtype: int64

From the above cell output, we see that there are few values missing in the columns 'Company' and 'ContractTime'. <br>
According to the requirement, we are supposed to replace missing values with 'non-specified'

In [10]:
# Replace NaN values in specific columns ("Company" and "ContractTime") with "Non-Specified"
df[['Company', 'ContractTime']] = df[['Company', 'ContractTime']].fillna("Non-Specified")
print("\nMissing Values in Each Column:\n", df.isnull().sum())

Missing Values in Each Column:
 Id              0
Title           0
Location        0
Company         0
ContractType    0
ContractTime    0
Category        0
Salary          0
OpenDate        0
CloseDate       0
SourceName      0
dtype: int64

##### Checking the datatypes

In [11]:
df.dtypes

Id                       int64
Title                   object
Location                object
Company                 object
ContractType            object
ContractTime            object
Category                object
Salary                 float64
OpenDate        datetime64[ns]
CloseDate       datetime64[ns]
SourceName              object
dtype: object

#### Let us check if the 'Category' column have the entries according to the requiremnts or not...

In [12]:
df['Category'].value_counts()

Category
Information Technology    1317
Health                     789
Engineering                744
Finance                    668
Sales                      498
Hospitality                399
Education                  326
Marketing                  259
Name: count, dtype: int64

The cell output above shows that we don't have the entries in the format we require. <br>
So, in the below code, we change it according to our requiremnets.

In [13]:
# Convert values in the 'Category' column as specified
category_mapping = {
    'Information Technology': 'IT Jobs',
    'Health': 'Healthcare & Nursing Jobs',
    'Engineering': 'Engineering Jobs',
    'Finance': 'Accounting & Finance Jobs',
    'Sales': 'Sales Jobs',
    'Hospitality': 'Hospitality & Catering Jobs',
    'Education': 'Teaching Jobs',
    'Marketing': 'PR, Advertising & Marketing Jobs'
}

df['Category'] = df['Category'].replace(category_mapping)

df['Category'].value_counts()

Category
IT Jobs                             1317
Healthcare & Nursing Jobs            789
Engineering Jobs                     744
Accounting & Finance Jobs            668
Sales Jobs                           498
Hospitality & Catering Jobs          399
Teaching Jobs                        326
PR, Advertising & Marketing Jobs     259
Name: count, dtype: int64

#### Let us do some final checks before merging it

<b>Data Type check

In [14]:
df.dtypes

Id                       int64
Title                   object
Location                object
Company                 object
ContractType            object
ContractTime            object
Category                object
Salary                 float64
OpenDate        datetime64[ns]
CloseDate       datetime64[ns]
SourceName              object
dtype: object

<b> Null Values check

In [15]:
df.isnull().sum().sum()

0

<b> Duplicates and shape Check

In [16]:
print('Number of duplcates: ', df[['Title', 'Location', 'Company', 'ContractType', 'ContractTime', 'Category', 'Salary', 'OpenDate', 'CloseDate', 'SourceName']].duplicated().sum())
df.shape

Number of duplcates:  0

(5000, 11)

### 3. Merging data

<span style="color: red"> You might have complex notebook structure in this section, please feel free to create your own notebook structure. </span>

In [17]:
# Code to merge two data sets
df1 = pd.read_csv('s3891013_dataset1_solution.csv')
df_merged = pd.concat([df1, df], ignore_index=True)
df_merged

,Id,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,SourceName
0,68241654,PI Underwriter Regional Markets,london,Idex Consulting LLP,non-specified,permanent,Accounting & Finance Jobs,57500.00,20121214T000000,20130212T000000,insurancejobs.co.uk
1,71138818,COMMERCIAL INSURANCE ACCOUNT HANDLER HERTFORD...,london,Clark James Insurance And Financial Services R...,non-specified,permanent,Accounting & Finance Jobs,26000.00,20130314T150000,20130612T150000,insurancejobs.co.uk
2,71391843,Claims Handler Motor Trade,hertfordshire,Lawes Insurance Recruitment,non-specified,permanent,Accounting & Finance Jobs,19000.00,20131124T120000,20140222T120000,insurancejobs.co.uk
3,70420154,Commercial Jewellers Block Account Handler,birmingham,Lawes Insurance Recruitment,non-specified,permanent,Accounting & Finance Jobs,22000.00,20121230T150000,20130129T150000,insurancejobs.co.uk
4,67779524,Protection Indemnity Underwriter,the city,Lawes Insurance Recruitment,non-specified,permanent,Accounting & Finance Jobs,45000.00,20120904T150000,20121103T150000,insurancejobs.co.uk
...,...,...,...,...,...,...,...,...,...,...,...
55748,97637986,Head of Regulatory Policy,London,Jonathan Lee Recruitment Ltd,non-specified,Permanent,Accounting & Finance Jobs,69999.96,2013-01-30 00:00:00,2013-03-31 00:00:00,non-specified
55749,14736764,Android Developer eMarkets and eCommerce Ber...,Berkshire,Impact 360,non-specified,Permanent,IT Jobs,60000.00,2012-06-28 12:00:00,2012-08-27 12:00:00,non-specified
55750,98939018,SAS Senior Collections Recoveries Analyst,London,Aspire Data Recruitment,non-specified,Permanent,Accounting & Finance Jobs,33999.96,2013-04-24 00:00:00,2013-07-23 00:00:00,non-specified
55751,32998321,Lead PHP Magento Developer London ****k,London,Annapurna HR Ltd,non-specified,Permanent,IT Jobs,57500.04,2012-11-18 15:00:00,2012-12-18 15:00:00,non-specified
55752,39389555,"Linux (CentOS), Puppet, SVN, LAMP , Systems Ad...",Surrey,Parallel Consulting Limited,non-specified,Permanent,IT Jobs,42500.04,2013-08-21 12:00:00,2013-10-20 12:00:00,non-specified

### 4. Resolving data conflicts:
Give some general information about the data conflicts you found in the unified table and how you resolve them.

<span style="color: red"> You might have complex notebook structure in this section, please feel free to create your own notebook structure. </span>

#### Conflict 1: XXXX (e.g., complete duplications)
Here give some general information about this conflict.

In [18]:
# Code to inspect data and identify conflicts in data
print('Number of duplcates in merged data: ', df[['Title', 'Location', 'Company', 'ContractType', 'ContractTime', 'Category', 'Salary', 'OpenDate', 'CloseDate', 'SourceName']].duplicated().sum())

Number of duplcates in merged data:  0

Tell me about how you fix the conflict here

In [19]:
# Code to fix the conflict

......

#### Finding global key for the data
Find a proper global key for the integrated data and give justification here.

In [20]:
# Code to identify global key

.......

#### Conflict 2: XXXX (e.g., other duplications)
Here give some general information about this conflict.

### 5. Saving the integrated and reshaped data
The last part of the integration process is to export our output data to csv format, named as:
- '\<student\_id\>_dataset_integrated.csv'

In [21]:
# code to save output data

## Summary of the Assessment Task
Give a short summary and anything you would like to talk about this assessment task here.